{% macro render(definition) %}
    <tr>
        <th role="rowheader"><a id="definitions-{{definition.id}}" href="#definitions-{{definition.id}}">{{definition.term  | markdown | safe}}</th>
        <td>{{definition.text | markdown | safe}}</td>
    </tr>
{% endmacro %}